*.csv filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
trees.geojson filter=lfs diff=lfs merge=lfs -text
trees-lookup.json filter=lfs diff=lfs merge=lfs -text
public/trees-lookup.json filter=lfs diff=lfs merge=lfs -text
data_prep/trees-lookup.json filter=lfs diff=lfs merge=lfs -text
